@media (min-width: 340px) and (max-width: 460px){
    .container-principal{
        margin: 2rem;
        display: flex;
        flex-direction: column;
    }

    .container-section {
        width: 100%;
    }

    .container-ordem{
        
    }

    .number {
        font-size: 2rem;
    }
}