*{
    font-family: "Epilogue", sans-serif;
    padding: 0;
    background-color: #ECE9FD;
}

.container-principal{
    display: flex;
}

.container-section {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid red;
    margin: 0 auto;
}

.container-section p{
    font-size: 16px;
    color: rgba(10, 0, 57, 0.64);
}

.container-section h1 {
    font-size: 40px;
    color: #090039;
}

.container-ordem{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    width: 30%;
}



.h3 {
    color: #7158ef;
    font-size: 16px;
}

ul li {
    list-style-type: none;
}