* {
    font-family: "Epilogue", sans-serif;
    padding: 0;
    margin: 0; /* Adicionando margem 0 para evitar espaçamento extra */
    box-sizing: border-box; /* Isso garante que padding e bordas não aumentem a largura do elemento */
}

body {
    background-color: #ECE9FD; /* Defina o background padrão para o corpo */
}

.container-principal {
    display: flex; /* Para alinhar os filhos na mesma linha */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    margin-top: 8rem;
    height: 500px;
    align-items: center; /* Centraliza os elementos verticalmente */
    align-self: center;
}

.container-section {
    flex: 0 0 30%; /* Define a largura como 30% do container-principal */
    padding: 20px; /* Adiciona algum espaçamento interno */
    display: flex; /* Adiciona display flex para organizar os elementos dentro */
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente os elementos */
    padding: 1rem;
    height: 300px;
    gap: 20px;
    margin-bottom: 1rem;
}

.container-section p {
    font-size: 16px;
    color: rgba(10, 0, 57, 0.64);
}

.container-section h1 {
    font-size: 40px;
    color: #090039;
}

.container-ordem {
    flex: 0 0 30%; /* Define a largura como 30% do container-principal */
    padding: 20px; /* Adiciona algum espaçamento interno */
    display: flex; /* Adiciona display flex para organizar os elementos dentro */
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-items: flex-start;
    justify-content: center; /* Centraliza verticalmente os elementos */
    height: 200px;
}

span {
    font-size: 3rem;
}

.h3 {
    color: #7158ef;
    font-size: 16px;
}

.container-ordem ul li {
    list-style-type: none;
    color: #090039;
    font-size: 24px;
    font-weight: 700px;
    padding: 1rem;
}

a{
    text-decoration: none;
}